<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionLocal"
         connectionString="Data Source=DESKTOP-3MKU8HI;Initial Catalog=SVG;Persist Security Info=True;User ID=sa;Password=_senhas_2012;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
    <add name="ConnectionProduction_Az"
         connectionString="Data Source=doepcdf.database.windows.net;Initial Catalog=DOE;Persist Security Info=True;User ID=doe_app;Password=_senhas_2012;Encrypt=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
