@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p><a href="@Url.Action("Index", "Operador", new { })" class="btn" title="Operadores">Operadores </a> </p>
    <p><a href="@Url.Action("ResumoOperadores", "Operador", new { })" class="btn" title="Operadores">Operadores Operação</a> </p>
    <p><a href="@Url.Action("Create", "Operador", new { })" class="btn" title="Create Operadores">Criar Operadores</a> </p>
    <p><a href="@Url.Action("Index", "Operacao", new { })" class="btn" title="Operações"> Operações</a> </p>

</div>
