<div class="card mb-4">
    <div class="card-body">

        <h5 class="card-title mb-3">
            Operadores
        </h5>

        <!-- MÉTRICAS -->
        <div class="row text-center mb-4">

            <div class="col">
                <div class="fw-bold text-secondary small">Total</div>
                <div class="fs-5 fw-semibold" id="biTotal">0</div>
            </div>

            <div class="col">
                <div class="fw-bold text-secondary small">Média</div>
                <div class="fs-5 fw-semibold" id="biMedia">0</div>
            </div>

            <div class="col">
                <div class="fw-bold text-secondary small">Máximo</div>
                <div class="fs-5 fw-semibold" id="biMaximo">0</div>
            </div>

            <div class="col">
                <div class="fw-bold text-secondary small">Mínimo</div>
                <div class="fs-5 fw-semibold" id="biMinimo">0</div>
            </div>
        </div>

        <div style="height:400px;">
            <canvas id="graficoOperadores"></canvas>
        </div>

    </div>
</div>
