<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title mb-3">Adesão SVG</h5>

        <div class="chart-container">
            <canvas id="graficoSvg"></canvas>
        </div>

    </div>
</div>

<style>
    .chart-container {
        position: relative;
        height: 400px;
        width: 100%;
    }

        .chart-container canvas {
            max-height: 400px !important;
        }
</style>
