@{
    ViewData["Title"] = "BI / SVG";
}

<div class="container mt-4">
    <h4 class="mb-3">Adesão SVG</h4>

    <div class="card shadow-sm">
        <div class="card-body">
            <canvas id="graficoSvg" height="90"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let chartSvg;
        const qs = new URLSearchParams({
            ano: biState.ano,
            periodo: biState.periodo,
            secaoId: biState.secaoId,
            operadorId: biState.operadorId
        });

        document.addEventListener("bi:changed", async e => {

            const qs = new URLSearchParams({
                ano: biState.ano,
                periodo: biState.periodo,
                secaoId: biState.secaoId,
                operadorId: biState.operadorId   // 👈 RECEBE O FILTRO
            });

            const dados = await fetch(`/api/bi/adesao-svg?${qs}`)
                .then(r => r.json());

            renderGraficoSvg(dados);
        });

    </script>
}
